<html>
    <head>
        <title>
            <%= title  %>
        </title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        
        <link rel="stylesheet" href="/css/layout.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">
        <%- style %>
        
    </head>

    <body>
        <%- include('_header'); %>

        <%- body %>


        <%- include('_footer'); %>

        <%- script %>
           <script>
            // success flash message

            <% if(flash.success && flash.success.length > 0) { %>

            new Noty({
                theme:'relax',
                text: '<%= flash.success%>',
                layout: 'topRight',
                type: 'success',
                timeout: 1500

            }).show();
            <% } %>

            // error flash message
            <% if(flash.error && flash.error.length > 0) { %>

                new Noty({
                    theme:'relax',
                    text: '<%= flash.error%>',
                    layout: 'topRight',
                    type: 'error',
                    timeout: 1500

                }).show();
<% } %>
            </script>
    </body>
</html>